<h1 class="header">我是 header</h1>

<div class="header">
  <a href=""><img src="" alt=""><h1></h1></a>
  <ul class="header-menu">
    <li>系列鏡框</li>
    <li>門市據點</li>
    <li>部落格</li>
    <li>常見問題</li>
  </ul>
</div>