<div class="header-bg">
  <div class="container header">
    <a href=""><img class="logo" src="../assets/images/logo-white.png" alt=""><h1>Glasses-Store</h1></a>
    <ul class="header-menu">
      <li>系列鏡框</li>
      <li>門市據點</li>
      <li>部落格</li>
      <li>常見問題</li>
    </ul>
  </div>
</div>