<div class="header-bg">
  <div class="container header">
    <a href="../pages/index.html"><img class="logo" src="../assets/images/logo-white.png" alt=""></a>
    <ul class="header-menu">
      <li><a href="../pages/product.html">系列鏡框</a></li>
      <li><a href="">門市據點</a></li>
      <li><a href="">部落格</a></li>
      <li><a href="../pages/faq.html">常見問題</a></li>
    </ul>
  </div>
</div>