@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap');

*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

body{
  font-family: "Roboto", "Noto Sans Mono CJK TC";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: $secondary;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}
hr{
  border: none;
  border-top: solid 1px #FFFFFF;
  margin: 16px 0;
}

li{
  list-style: none;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 400;
  font-size: 24px;
}
