.faq {
  padding: 40px 14px;
  @include pad{
    padding: 80px 36px;
  }
  &-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
    border-left: 8px solid $primary;
    padding-left: 16px;
    @include pad {
      font-size: 48px;
      margin-bottom: 32px;
    }
    &-sub {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 24px;
    }
  }
}


.faq-item {
  margin-bottom: 24px;
  @include pad {
    margin-bottom: 32px;
  }
  @include desktop {
    max-width: 856px;
  }
  &-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
  }
}